---
import { Card } from "../ui/Card.tsx";
import { Carousel } from "../ui/Carousel.tsx";
---

<div class="container">
  <div class="projets" data-slider>
    <div class="title">
      <h6>--PROJETS--</h6>
      <p class="small">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quisquam
        adipisci a dolore corporis aperiam nemo unde ad autem nesciunt ut ullam
        voluptate officia quaerat excepturi, at quos vero perferendis?
      </p>
    </div>
    <Carousel client:visible />
  </div>
</div>

<!-- 
<style>
  .projets {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
    font-size: 0.9rem;
    line-height: 1.9;
    padding-block: 10rem;

    h4 strong {
      opacity: 0.3;
    }
  }

  @media screen and (max-width: 500px) {
    .projets {
      display: flex;
      width: 100%;
      gap: 3rem;
      flex-direction: column;
    }

    .projets .title {
      grid-column: none;
    }

    .projets .content {
      grid-template-columns: 1fr;
      place-items: center;
    }

    .about > * + * {
      display: block;
      padding-inline: 1rem;
      padding-block: 1rem;
    }
  }

  @media (max-width: 1000px) {
    .content {
      display: flex;
      overflow-x: auto;
      padding: 1rem;
      margin: -1rem;
    }

    .content .card {
      scroll-snap-type: x proximity;
      min-width: 250px;
    }
  }

  .title {
    position: relative;
    z-index: 5;
    grid-column: 1 / span 2;
    h6 {
      margin-bottom: 0.5rem;
    }
  }

  .content {
    --items: 2;
    --gap: 1rem;
    position: relative;
    z-index: 6;
    padding: calc(var(--gap) * 0.5);
    margin: calc(var(--gap) * -0.5);
    overflow-x: auto;
    scroll-snap-type: x proximity;
    scroll-padding-inline: calc(var(--gap) * 0.5);
    grid-column: 3 / span 6;
    grid-row: 1;
    display: flex;
    gap: var(--gap);
  }

  .content .card {
    cursor: pointer;
    height: max-content;
    min-width: calc((100% - (var(--items) - 1) * var(--gap)) / var(--items));
    scroll-snap-align: start;
    background-color: rgba(130, 130, 130, 0.194);
    padding: 1rem;
    border: none;
    transition: background 0.3s;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style> -->
