<div class="container">
  <div class="services">
    <div class="title">
      <h6>--SERVICES--</h6>
      <p class="small">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quisquam
        adipisci a dolore corporis aperiam nemo unde ad autem nesciunt ut ullam
        voluptate officia quaerat excepturi, at quos vero perferendis?
      </p>
    </div>
    <div class="content">
      {
        Array.from({ length: 4 }, (_, k) => (
          <div class="card">
            <div class="icon bold">Logo</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos amet,
            numquam unde minima culpa quae delectus adipisci iste vel officia
            quo dicta laboriosam eligendi aperiam sunt possimus error a odio!
          </div>
        ))
      }
    </div>
  </div>
</div>

<style></style>
