---
import { getEntry, getEntries } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Image, Picture } from "astro:assets";
import { getCollection } from "astro:content";
import { date } from "astro:schema";
import { ViewProjets } from "../components/ViewProjets.tsx";
const taxonomies = await getCollection("taxonomies");
const posts = await getCollection("blog");

function getPostsByTaxonomy(id: string) {
  return posts.filter((post) => post.data.taxonomies?.some((t) => t.id === id));
}

console.log(await getCollection("blog"));

const taxonomiesWithPosts = taxonomies.map((taxonomy) => ({
  taxonomy: taxonomy.data.name,
  posts: getPostsByTaxonomy(taxonomy.id),
}));

// console.log(taxonomiesWithPosts);

const seo = {
  title: "Blog – Conseils & Actualités",
  description:
    "Entre idées, chantiers et innovations : suivez notre actualité au cœur de l’architecture et du bâtiment.",
  image: "https://durand-construction.com/og-image.jpg",
  url: Astro.url.href,
};
---

<Layout {...seo}>
  <section>
    <div class="container">
      <ViewProjets client:load data={taxonomiesWithPosts} />
    </div>
  </section>
</Layout>

<!-- <style>
  .description {
    padding: 0;
    margin: 0;
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
  }

  .description .arrow {
    letter-spacing: -0.02em;
    font-size: 2.75rem;
    line-height: 1.13;
    grid-column: 1;
  }

  .description .left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-column: 2 / span 2;
    z-index: 1;

    .heading-primary {
      color: var(--accents-7);
    }

    .heading-secondary {
      font-size: 0.8rem;
      color: var(--accents-6);
    }
  }

  .description .approach {
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2 / span 2;

    .list {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .list span.period {
      color: var(--durand-orange);
      font-weight: 700;
    }

    .list .topics {
      color: var(--accents-8);
      font-size: 0.8rem;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.3rem;
    }

    .list .topics ul {
      width: 100%;

      & > * {
        color: var(--accents-6);
        margin-bottom: 0.8rem;
        cursor: pointer;

        &:hover {
          color: var(--durand-orange);
          text-decoration: underline;
        }
      }
    }
  }

  .description .text-description {
    position: fixed;
    grid-column: 4 / span 3;
    align-self: start;

    img {
      width: 200px;
      object-fit: cover;
      z-index: -10;
    }
  }

  .description .text-description .thumbnail {
    top: 2rem;
  }

  .description .text-description,
  .approach {
    padding-block: 6rem;
  }

  .description p {
    font-size: 0.8rem;
    color: var(--accents-6);

    margin-bottom: 1rem;
  }
</style> -->
