<section>
  <footer class="footer">
    <div class="container">
      <div class="wrapper">
        <ul class="lien">
          <li>
            <div class="bold mb-1">Lorem ipsum</div>
            <span class="small">Lorem ipsum dolor sit amet lorem</span>
          </li>
          <li>
            <div class="bold mb-1">Lorem ipsum</div>
            <span class="small"
              >Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur,
              adipisicing elit. Maiores quidem quisquam ut soluta</span
            >
          </li>
          <li>
            <div class="bold mb-1">Lorem ipsum</div>
            <span class="small"
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit</span
            >
          </li>
          <li>
            <div class="bold mb-1">Lorem ipsum</div>
            <span class="small"
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloribus, reprehenderit quam dolore</span
            >
          </li>
        </ul>

        <ul class="lien">
          <li>
            <span class="small"
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloribus, reprehenderit quam dolore</span
            >
            <div class="bold mt-2">Lorem ipsum</div>
          </li>
          <li>
            <span class="small"
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Doloribus, reprehenderit quam dolore</span
            >
            <div class="bold mt-2">Lorem ipsum</div>
          </li>
        </ul>
        <div class="action small">
          <div class="bold">Lorem ipsum</div>
          <form class="form-contact" action="">
            <input placeholder="@exemple.com" class="field" type="text" />
            <div class="info">
              <input type="checkbox" name="" id="" />
              <span
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
                modi at dolorem vitae, eum autem voluptas omnis a exercitationem
                eos suscipit, vel atque eius facere deleniti possimus
                praesentium! Explicabo, molestias.</span
              >
            </div>
            <button>Lorem ipsum, dolor sit amet consectetur</button>
          </form>
        </div>
      </div>
      <div class="legacy">
        <div class="content small">
          <span>Logo</span>
          <span>itaque accusantium dicta temporibus!</span>
        </div>
      </div>
      <span class="droit small">Maxime harum, nihil ut ipsum</span>
    </div>
  </footer>
</section>
