---
import { strategyToUppercase } from "../helpers/dom.ts";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<div class="left">
  {
    title && (
      <h2>
        {strategyToUppercase(title!)}
        <br />
      </h2>
    )
  }
  {
    description && (
      <h2>
        <span>{strategyToUppercase(description)}</span>
      </h2>
    )
  }
</div>

<style>
  .left {
    grid-column: 1 / span 5;
    padding-block: var(--space);

    h2 {
      --line-height: 1.13;
      --size: 2.75rem;
      position: relative;
      letter-spacing: -0.02em;
      font-size: var(--size);
      line-height: var(--line-height);
    }
  }

  @media screen and (max-width: 590px) {
    .left h2 {
      --size: 1.75rem;
      font-size: var(--size);
    }
  }

  @media screen and (min-width: 1500px) {
    .left {
      grid-column: 1 / span 5;
      padding-block: var(--space);

      h2 {
        --line-height: 1.13;
        --size: 3.75rem;
        position: relative;
        letter-spacing: -0.02em;
        font-size: var(--size);
        line-height: var(--line-height);
      }
    }
  }
</style>
