---
import About from "./blocks/About.astro";
import Services from "./blocks/Services.astro";
import Projets from "./blocks/Projets.astro";
import Hero from "./blocks/Hero.astro";
---

<section class="hero">
  <div class="container">
    <Hero />
  </div>
</section>
<section class="container">
  <About />
</section>
<Services />
<Projets />
