@import "./tools/reset.css";

@import "./tools/layout.css";

/* MODULES */
@import "./modules/header.css";
@import "./modules/blocklines.css";
@import "./modules/btn.css";
@import "./modules/footer.css";
@import "./modules/link.css";
@import "./modules/scroolbar.css";

/* BLOCKS */
/* @import "./blocks/projets.css"; */
@import "./blocks/blog.css";

:root {
  --durand-blue: #1c2d7a;
  --durand-orange: #e1572b;
  --durand-background: #f7f7ec;
  --durant-color: #fff;
  --durand-bor: #dce2ea;
  --durand-black: #000000;
  --durand-yellow: #fdd835;
  --space: 8px;
  --space-1: calc(1 * var(--space));
  --space-2: calc(2 * var(--space));
  --space-3: calc(3 * var(--space));
  --space-4: calc(4 * var(--space));
  --space-5: calc(5 * var(--space));
  --space-6: calc(8 * var(--space));

  --font-size-base: 16px;
  --font-scale: 1.25;
  --h7: calc(var(--font-size-base) * 0.5);
  --h6: calc(var(--font-size-base) * 1);
  --h5: calc(var(--font-size-base) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));

  --size-small-text: 0.9rem;
  --color-white: #fff;
  --space: 16px;
  --contrast: #3d4596;
  --contrast-2: #e15729;
  --bg-dark: #000;
  --accents-8: #fafafa;
  --accents-7: #eaeaea;
  --accents-6: #999999;
  --accents-5: #888888;
  --accents-4: #666666;
  --accents-3: #444444;
  --accents-2: #333333;
  --accents-1: #111111;
}

#logo {
  width: 40px;
  height: 40px;
  display: block;
}

h1,
.h1 {
  font-size: var(--h1);
  line-height: 1.2;
  font-weight: 700;
}

h2,
.h2 {
  font-size: var(--h2);
  line-height: 1.25;
  font-weight: 700;
}

h3,
.h3 {
  font-size: var(--h3);
  line-height: 1.3;
  font-weight: 600;
}

h4,
.h4 {
  font-size: var(--h4);
  line-height: 1.35;
  font-weight: 600;
}

h5,
.h5 {
  font-size: var(--h5);
  line-height: 1.4;
  font-weight: 500;
}

h6,
.h6 {
  font-size: var(--h6);
  line-height: 1.45;
  font-weight: 500;
}

p,
.text {
  font-size: var(--font-size-base);
  line-height: 1.6;
}

@media screen and (max-width: 700px) {
  :root {
    --font-size-base: 18px;
    --font-scale: 1.25;
  }
  h1,
  .h1 {
    font-size: var(--h1);
    line-height: 1.2;
    font-weight: 700;
  }

  h2,
  .h2 {
    font-size: var(--h2);
    line-height: 1.25;
    font-weight: 700;
  }

  h3,
  .h3 {
    font-size: var(--h3);
    line-height: 1.3;
    font-weight: 600;
  }

  h4,
  .h4 {
    font-size: var(--h4);
    line-height: 1.35;
    font-weight: 600;
  }

  h5,
  .h5 {
    font-size: var(--h5);
    line-height: 1.4;
    font-weight: 500;
  }

  h6,
  .h6 {
    font-size: var(--h6);
    line-height: 1.45;
    font-weight: 500;
  }

  p,
  .text {
    font-size: var(--font-size-base);
    line-height: 1.6;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --font-size-base: 20px;
    --font-scale: 1.25;
  }
  ul li {
    font-size: var(--font-size-base) !important;
  }

  p,
  .text {
    font-size: var(--font-size-base) !important;
    line-height: 1.6;
  }
}

html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}
html.is-animating .transition-fade {
  opacity: 0;
}

body {
  position: relative;
  width: 100%;
  height: auto;
  color: var(--accents-8) !important;
  background-color: var(--bg-dark) !important;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--durand-background);

  /* &::before {
    content: "";
    position: absolute;
    inset: 0;
    height: auto;
    filter: blur(20px);
    opacity: 0.1;
    background: url("../assets/background.svg") center center / cover no-repeat
      var(--contrast-2);
  } */
}

.carousel {
  position: relative;
}

.carousel__container {
  transition: 0.3s cubic-bezier(0, 0, 0.01, 0.94);
  transform: translate3d(0, 0, 0);
}

.carousel__container::after {
  content: "";
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
}

.carousel__next,
.carousel__prev {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(255, 255, 255) url(/public/arrow-right.svg) center center
    no-repeat;
  background-size: 20px;
  top: 50%;
  right: -20px;
  margin-top: -25px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.carousel__next:hover,
.carousel__prev:hover {
  filter: brightness(1.5);
}

.carousel__prev {
  background: rgb(255, 255, 255) url(/public/arrow-left.svg) center center
    no-repeat;
  background-size: 20px;
  right: auto;
  left: -25px;
}

.carousel__next--hidden[disabled],
.carousel__prev--hidden[disabled] {
  opacity: 0.5;
}

@keyframes ItemIn {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
}
