footer {
  background: var(--durand-orange);
  position: relative;
  width: 100%;
  height: auto;
}

footer hr {
  background: currentColor;
  margin-bottom: var(--space-2);
}

footer .contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--space-2);
}

footer .wrapper {
  padding-inline: 2rem;
}

footer .info {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(5, 1fr);
}

footer .list {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

footer .list span {
  font-weight: 500;
  font-size: var(--size-small-text);
}

footer .list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > * {
    opacity: 0.6;
    font-size: var(--size-small-text);
  }
}

footer .legacy {
  padding-top: var(--space-6);
  padding-bottom: var(--space-2);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: flex-end;
}

footer .legacy .copyright {
  grid-column: 4 / span 2;
  font-size: var(--size-small-text);
  width: max-content;
  font-weight: 300;
}

footer .legacy h1 {
  font-size: 5rem;
  line-height: 0.9;
}
