.header {
  background-color: transparent;
  position: relative;
  font-weight: 500;
  line-height: 1;
  padding-block: var(--space-1);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --border-header: rgb(226, 226, 226);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: currentColor;
    max-width: var(--container-width);
    margin-inline: auto;
    height: 1px;
  }
}

.header .navigation {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.header ul {
  font-size: 0.8rem;
  display: flex;
  gap: 0.5rem;
  width: max-content;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-block: 0.1rem;
  font-size: 0.8rem;
}

.header .branding {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header .col {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 130px;
}

.header .col .name {
  font-size: var(--size-small-text);
  font-weight: 300;
  color: var(--accents-5);
}

.header-nav {
  /* height: 40px; */
  overflow: hidden;
}

.header-nav small {
  font-weight: normal;
}

.header-nav li {
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 1.5rem;
}

.header a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.header a:hover {
  color: var(--durand-orange);
  text-decoration: underline;
}

.header button {
  text-decoration: underline;
  color: currentColor;
}

.header__burger {
  display: none;

  button {
    display: flex;
    background: transparent;
    border: transparent;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    aspect-ratio: 1 / 1;
  }
  span::before,
  span::after,
  span {
    content: "";
    display: block;
    width: 22px;
    height: 2px;
    background: currentColor;
    position: relative;
    transition: 0.3s;
    transition-property: top, bottom, transform;
  }
  span::after {
    top: -8px;
  }
  span::before {
    bottom: -6px;
  }
  span {
    font-size: 0;
    text-indent: -3000px;
  }
}

.header .header-side {
  display: none;
}

.header .header-nav li {
  /* display: none; */
}

.header.is-open {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.904);
  height: 100vh;
  padding: 5rem;
  z-index: 100;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.header.is-open a {
  opacity: 1;
  color: rgb(255, 255, 255) !important;
}
.header.is-open a:hover {
  opacity: 1;
  color: rgba(111, 0, 255, 0.648);
}

.header.is-open .header-nav {
  display: grid;
  height: auto;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;

  & li {
    display: block !important;
    width: 100%;
    height: auto;
    margin-left: 0 !important;
    animation: slideIn 0.5s both;
    font-size: 2.5rem;
    color: white;
    animation-delay: 0.3s;
  }

  li:nth-child(1) {
    animation-delay: 0.05s;
  }

  li:nth-child(2) {
    animation-delay: 0.1s;
  }

  li:nth-child(3) {
    animation-delay: 0.15s;
  }

  li:nth-child(4) {
    animation-delay: 0.2s;
  }

  li:nth-child(5) {
    animation-delay: 0.25s;
  }

  li:nth-child(6) {
    animation-delay: 0.3s;
  }
}
.header.is-open .header-side {
  position: fixed;
  right: 18px;
  top: 18px;
  z-index: 4;
}

.header-logo svg {
  width: 40px;
  height: 40px;
}

.header.is-open .header-logo {
  display: none !important;
}

.header.is-open::before {
  display: none !important;
}

.header.is-open .header__burger {
  span::after {
    top: -2px;
    transform: rotate(0deg);
  }
  span {
    transform: rotate(-135deg);
  }
  span::before {
    bottom: 0;
    transform: rotate(-90deg);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@media screen and (max-width: 590px) {
  .header .header-side {
    display: block;
  }

  .header__burger {
    display: block;
  }

  .header .navigation .branding .col {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    max-width: 130px;
  }

  .header.header.is-open .col {
    display: inherit;
  }

  .header.is-open .col {
    display: none;
  }

  .header.is-open .col .name {
    font-size: var(--h5);
  }

  .header.header.is-open .navigation .branding {
    display: none;
  }

  .header .col {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .header .navigation svg {
    width: 55px !important;
    height: 55px !important;
  }
}
